<!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="addfa-modal" tabindex="-1"
	role="dialog" aria-hidden="true"
	ng-init="">
	<div class="modal-dialog">
		>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				
                                    <h3 class="box-title">Create Field Agent</h3>

			</div>

			<div class="modal-body">
				<!-- general form elements -->
				<section class="hbox stretch">
						<div class="box box-danger">
                               <div class="box-body">
                                    <form role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="faName">Field Agent Name:</label>
                                            <input type="text" class="form-control" id="faName" placeholder="Enter Name" ng-model="fa.name">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="faContact">Field Agent Contact:</label>
                                            <input type="text" class="form-control" id="faContact" placeholder="Enter Contact" ng-model="fa.contactNumber">
                                        </div>
                                       <!-- textarea -->
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea class="form-control" rows="3" placeholder="Enter Address" ng-model="fa.address"></textarea>
                                        </div>
                                        
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary" ng-click="saveFA();" data-dismiss="modal">Submit</button>
                                    </div>
                                </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
				

				</section>
			</div>
		</div>
	

	</div>
	</div>


