<div class="box box-solid" ng-init="getCustomers();">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4">
                                            <!-- BOXES are complex enough to move the .box-header around.
                                                 This is an example of having the box header within the box body -->
                                            <div class="box-header">
                                                <i class="fa fa-inbox"></i>
                                                <h3 class="box-title">Customers</h3>
                                            </div>
                                            <!-- compose message btn -->
                                            <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#addcust-modal"><i class="fa fa-pencil"></i> Create Customer</a>
                                          
                                        </div><!-- /.col (LEFT) -->
                                        <div class="col-md-9 col-sm-8">
                                            <div class="row pad">
                                                <div class="col-sm-6">
                                                   
                                                 

                                                </div>
                                                <div class="col-sm-6 search-form">
                                                    <form action="#" class="text-right">
                                                        <div class="input-group">                                                            
                                                            <input type="text" class="form-control input-sm" placeholder="Search">
                                                            <div class="input-group-btn">
                                                                <button type="submit" name="q" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                                            </div>
                                                        </div>                                                     
                                                    </form>
                                                </div>
                                            </div><!-- /.row -->
											<div class="table-responsive">
                                                <!-- THE MESSAGES -->
                                                <table class="table table-mailbox">
                                                	<tr>
                                                		<th>Name</th>
                                                		<th>Address</th>
                                                		<th>Contact</th>
                                                		<th>STB-ID</th>
                                                	</tr>
                                                    <tr ng-repeat="cust in custList">
                                                   		 <td class="name"><a href="">{{cust.contactName}}</a></td>
                                                       <td class="name"><a href="">{{cust.address}}</a></td>
                                                        <td class="subject"><a href="tel:{{agent.contactNumber}}">{{cust.contactNumber}}</a></td>
                                                        <td class="name"><a href="">{{cust.stbId}}</a></td>
                                                        
                                                       
                                                    </tr>
                                                    
                                                </table>
                                            </div><!-- /.table-responsive -->
                                        </div><!-- /.col (RIGHT) -->
                                    </div><!-- /.row -->
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <div class="pull-right">
                                        <small>Showing 1-12/1,240</small>
                                        
                                    </div>
                                </div><!-- box-footer -->
                            </div><!-- /.box -->
                            <div ng-include="'resources/views/customer/add-customer.html'"></div>